{margin: 0px;
padding: 0px}

body { 
margin: 0px;
padding: 0px; 
background: #ffffff;
background-color:#194775;
/*background: #000000;*/
color: #000000; margin: 0px; 
font-family: Verdana, arial; 
}

div {}

p {margin: 0px; padding: 0px;}
h1 {margin: 0px; padding: 0px; font-size:21px; }
h2 {margin: 0px; padding: 0px;}
h3 {margin: 0px; padding: 0px;}
form  {margin: 0px; padding: 0px;}

td {  }


a{text-decoration:none;}

#clear{clear:both;}

#main{
margin:0 auto;
width:1000px;
background-color:#ffffff;
padding:5px;
padding-top:20px;
}

#main div{
/*
padding:5px;margin:3px;margin-bottom:9px;background:#efefef;font-size:11px;
*/
}
#main div b{font-size:12px;}
input {padding:9px;}
select {padding:9px;}

#head{
margin:0 auto;
width:1000px;
background-color:#194995;
height:90px;
}

#head .tit{
padding-top:30px;padding-left:10px;color:#ffffff;font-size:28px;
}



/*MENU*/
#menu{
margin:0 auto;
width:1000px;
padding-left:40px;
background-color:#194775;
/*
border-top:3px #3355ff solid;
border-bottom:5px #000033 solid;
border-bottom:5px #3355ff solid;
*/
}
#menu ul{padding:0;margin:0;}
#menu li{position: relative;float: left;list-style: none;margin: 0;padding:0;}
#menu li a{width:125px;height: 30px;display: block;text-decoration:none;text-align: center;line-height: 30px;background-color:#194775;color: white;}
#menu li a:hover{background-color: blue;}
#menu ul ul{position: absolute;top: 30px;visibility: hidden;z-index:1000;}
#menu ul li a{text-transform:uppercase;font-size:14px;} 
#menu ul ul li a{text-align:left;padding-left:5px;width:120px;text-transform:lowercase;text-transform:capitalize;font-size:12px;} 
#menu ul li:hover ul{visibility:visible;}

.red{color:red;}

#displayImg{overflow:auto;width:300px;height:210px;}

#flashMsg{z-index:999; position:absolute;visibility:visible;left:40%;top:15px; margin-top:0px;
border:5px #194775 solid;padding:21px;background:#bbccdd;font-size:15px;filter:alpha(opacity=90);opacity:0.9;
border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;

}




#sidebar{float:left;width:210px;}
#content{float:left;width:760px;margin-left:20px;}

#content h1{
font-style:italic;font-family:Times New Roman,Times;color:#ffffff;
padding:5px;
margin-bottom:9px;
background-color:#194775;
border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;
width:690px;
}


#div33{float:left;width:245px;}


#login{
margin-top:30px;
margin-bottom:30px;
margin-left:150px;width:210px;
border:1px #194775 solid;padding:21px;
border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;
background-color:#ffffcc;
font-size:14px;
}

#login input{
outline: none;
border:1px #194775 solid;
border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;
margin-bottom:10px;
background-color:#efefef;
width:210px;
}

#login input:hover{background-color:#ffffff;}
#login input.login{color:#ffffff;background-color:#194775;}


//TABELLE
#tab_elenco_ordini{border:0px;padding:0px;}
#tab_elenco_ordini tr{font-size:11px;vertical-align:top;padding:9px;} 
/*
#tab_elenco_ordini tr.uno{background:#DAE3F8;} 
#tab_elenco_ordini tr.uno:hover{background:#efefef;} 
*/

#tab_elenco_ordini tr.uno{background:#D6BEBE;} 
#tab_elenco_ordini tr.uno:hover{background:#EBD6D6;} 

/*
#tab_elenco_ordini tr.due{background:#EAEDF2;} 
#tab_elenco_ordini tr.due:hover{background:#efefef;} 
*/

#tab_elenco_ordini tr.due{background:#DAE3F8;} 
#tab_elenco_ordini tr.due:hover{background:#EAEDF2;} 


#tab_elenco_ordini td{padding:9px;} 
#tab_elenco_ordini tr.tre td{padding:0px;} 

#tab_elenco_ordini_dettagli tr{background:#ffffff;}
#tab_elenco_ordini_dettagli td{text-align:center;}

#tab_elenco_ordini .canc{color:red;background:#ffffff;padding:5px;text-decoration:none;border:1px solid red;} 


#index
{width:700px;;border:0px;padding:0px;margin:0px;}

#index .liv2
{width:700px;;border:0px;padding:0px;margin:0px;background-color:#ffffcc;}



#index .liv3
{width:700px;;border:0px;padding:0px;margin:0px;background-color:ffffaa;}



#index th
{border:0px;background-color:#afafaf;text-align:center;color:#ffffff;font-size:12px;text-transform:uppercase;
padding:3px;
}

#index td
{border:0px;font-size:12px;padding:5px;text-align:center;}



#index td.sub{padding:0px;}

#index tr{border:1px dotted;}
#index tr:hover{background-color:#bbccdd;}


#index td.first
{text-align:left;width:300px;}


#index td.first_liv2
{text-align:left;width:315px;}

#index td.first_liv3
{text-align:left;width:315px;}

#index td div.icona_liv2,#index td div.icona_liv3{
border-left:1px #909090 dotted;border-bottom:1px #909090 dotted;display:block;width:9px;height:5px;padding:0px;float:left;
margin-left:3px;
margin-right:3px;
}

#index td div.icona_liv3{
padding-right:10px;
}


#index a.upd,#index a.del,a.new
{padding:9px;display:block;width:100px;text-align:center;font-size:12px;color:#ffffff;
border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;}

#index a.upd,#index a.del{width:60px;}


#index a.upd{background-color:#194775;}
#index a.upd:hover{background-color:blue;}

#index a.del{background-color:#bb0033;}
#index a.del:hover{background-color:red;}


a.new{background-color:#194775;}
a.new:hover{background-color:blue;}





#new,#upd {margin-top:20px;font-size:11px;}
#new input,#upd input,#new select,#upd select
{
width:700px;
border:1px #194775 solid;
border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;
margin-bottom:30px;
background-color:#efefef;
outline: none;
}

#new input:hover,#new input:focus
#upd input:hover,#upd input:focus
{background-color:#ffffff;}


#new .txtEditor,#upd .txtEditor{margin-bottom:30px;}

#new .save,#upd .save{background-color:#194775;color:#ffffff;margin-top:15px;}
#new .save:hover,#new .save:focus,
#upd .save:hover,#upd .save:focus{background-color:blue;color:#ffffff;}


