select.tipologia{
    background-image:url('_img/label_tipologia.png');
/*
    Insert in style.css
    background-repeat:no-repeat;
    background-position:165 3;
*/
}
select.collana{
    background-image:url('_img/label_collana.png');
}
select.editore{
    background-image:url('_img/label_editore.png');
}
select.visibile{
    background-image:url('_img/label_visibile.png');
}


#FILTERS select{
    border:1px solid blue;
    height: 30px;
}
#FILTERS select.sel{border:1px solid red;}
#FILTERS .new{height: 20px;padding-top: 5px;}