table.index{width:100%;}

/*table.index tr.uno{background-color:#efefef;}*/
table.index tr{background-color:#ffffcc;border-bottom:1px solid;}
table.index tr:hover{background-color:#efefef;}

table.index tr.notVis{background:#afafaf;} 
table.index tr.notVis:hover{background:#efefef;} 


table.index tr.header{
    background:#ffffff;
    color:#000000;
    font-size:15px;
    
}
table.index tr.header td{
    border-bottom: 1px solid;
}


table.index td{padding:5px;font-size:12px;}
table.index td.help{
    cursor:help;
    background-image: url('_img/help-15.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 0 0 15px;
}

table.info td:first-child{text-align: right;}
table.info td{padding:1px;font-size:9px;vertical-align: top;}