body { 
margin: 0px;
padding: 0px; 
background: #ffffff;
color: #000000; margin: 0px; 
font-family: Verdana, arial; 
}

div {}

p {margin: 0px; padding: 0px;}
h1 {margin: 0px; padding: 0px; font-size:21px; }
h2 {margin: 0px; padding: 0px;}
h3 {margin: 0px; padding: 0px;}
form  {margin: 0px; padding: 0px;}

td {  }


a{text-decoration:none;}

#clear{clear:both;}
