@import url(http://fonts.googleapis.com/css?family=Roboto:100,700italic,300,700,100italic,300italic);

body 
{ 
    margin: 0px;
    padding: 0px;
    /*
        background: #ffffff;
        background-color:#194775;
        background-color:#A9B4BC;
        background-color:#efefef;
    */

    /*
        background-image:url(../images/wrapper_bg.png);
        background-repeat: repeat-x;
    */
    background-color:#efefef;
    /*background: #000000;*/
    color: #000000; margin: 0px; 
    font-family: 'Roboto', arial, sans-serif;
}

div {}


p {
    margin: 0px; padding: 0px;
}
h1 {margin: 0px; padding: 0px; font-size:21px; 

font-family: 'Roboto', arial, sans-serif;
font-style:italic;
font-weight: Thin 100;

}
h2 {margin: 0px; padding: 0px;
font-family: 'Roboto', arial, sans-serif;
font-style:italic;
font-weight: 100;

}
h3 {margin: 0px; padding: 0px;}
form  {margin: 0px; padding: 0px;}

td {  }


a{text-decoration:none;}

#clear{clear:both;}

#main{

/*margin:0 auto;width:1000px;*/
width:100%;
background-color:#ffffff;
-moz-box-shadow: 0px 0px 9px #000000;-webkit-box-shadow: 0px 0px 9px #000000;box-shadow: 0px 0px 9px #000000;
}

#main div{
/*
padding:5px;margin:3px;margin-bottom:9px;background:#efefef;font-size:11px;
*/
}
#main div b{font-size:12px;}
input {padding:9px;}
select {padding:9px;}

#head{
margin:0 auto;
width:100%;
background-color:#194995;
height:90px;
}

#head .tit{
padding-top:30px;padding-left:10px;color:#ffffff;font-size:28px;
}



/*MENU*/
#menu{
margin:0 auto;
width:100%;
background-color:#303030;
}
#menu ul{padding:0;margin:0;}
#menu li{position: relative;float: left;list-style: none;margin: 0;padding:0;}
#menu li a{width:125px;height: 30px;display: block;text-decoration:none;text-align: center;line-height: 30px;background-color:#303030;color: white;}
#menu li a:hover{background-color:#000000;color:#ffffff;}
#menu ul ul{position: absolute;top: 30px;visibility: hidden;z-index:1000;}
#menu ul li a{text-transform:uppercase;font-size:12px;} 
#menu ul ul li a{text-align:left;padding-left:5px;width:120px;text-transform:lowercase;text-transform:capitalize;font-size:12px;} 
#menu ul li:hover ul{visibility:visible;}

.red{color:red;}

#displayImg{overflow:auto;width:300px;height:210px;}

#flashMsg{z-index:999; position:absolute;visibility:visible;left:40%;top:15px; margin-top:0px;
border:5px #454545 solid;padding:21px;background:#afafaf;font-size:15px;filter:alpha(opacity=90);opacity:0.9;
border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;
background-image:url(_img/msg.png);
background-position:10px 10px;
background-repeat:no-repeat;
padding-top:35px;
padding-bottom:35px;
padding-left:90px;
}

#flashMsg.err{
background-image:url(_img/err.png);
border:5px red solid;background-color:#ffffcc;color:red;}



#sidebar{float:left;width:210px;}
#content{float:left;width:760px;margin-left:20px;}

#content h1{

font-family: 'Roboto', arial, sans-serif;
font-style:italic;

color:#ffffff;

padding:5px;
margin-bottom:9px;
background-color:#194775;
border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;
width:690px;
}


#div33{float:left;width:245px;}

#formLogin{
    text-align: center;
    background-color:#ffffff;color:#000000;padding:0 0 0px 0;
    
}
#formLogin h1{background-color:#303030;padding:5px 30px 5px 14px;color:#ffffff;}

#formLogin .logo{float:left;width:550px;height:140px;
background-image:url('_img/logo.png');
background-position:left center;
background-repeat:no-repeat;
display:block;
}


#login{
    
/* margin:10px 0 0 0;; */
margin:0 auto;
margin-top:21px;
margin-bottom:21px;
width:300px;
color:#000000;
border:1px #505050 solid;
border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;
background-color:#efefef;
font-size:11px;
padding:21px 21px 21px 21px;

}

#login:hover{border:1px #909090 solid;}

#login input{
outline: none;
border:1px #afafaf solid;
border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
margin-bottom:10px;
background-color:#ffffff;
width:150px;
padding:3px 3px 3px 3px;
margin:0 30px 10px 5px ;

}

#login .label{float:left;width:90px;display:block;
padding:5px 3px 3px 3px;}

#login input:hover{border:1px #505050 solid;}

#login input.login{
color:#ffffff;background-color:#303030;cursor:pointer;border:1px #303030 solid;
margin:0 0 0 70px;
}
#login input.login:hover{background:red;}


//TABELLE
#tab_elenco_ordini{border:0px;padding:0px;}
#tab_elenco_ordini tr{font-size:11px;vertical-align:top;padding:9px;} 
/*
#tab_elenco_ordini tr.uno{background:#DAE3F8;} 
#tab_elenco_ordini tr.uno:hover{background:#efefef;} 
*/



#tab_elenco_ordini tr.uno{background:#D6BEBE;} 
#tab_elenco_ordini tr.uno:hover{background:#EBD6D6;} 

/*
#tab_elenco_ordini tr.due{background:#EAEDF2;} 
#tab_elenco_ordini tr.due:hover{background:#efefef;} 
*/

#tab_elenco_ordini tr.due{background:#DAE3F8;} 
#tab_elenco_ordini tr.due:hover{background:#EAEDF2;} 


#tab_elenco_ordini td{padding:9px;} 
#tab_elenco_ordini tr.tre td{padding:0px;} 

#tab_elenco_ordini_dettagli tr{background:#ffffff;}
#tab_elenco_ordini_dettagli td{text-align:center;}

#tab_elenco_ordini .canc{color:red;background:#ffffff;padding:5px;text-decoration:none;border:1px solid red;} 


#index
{width:700px;;border:0px;padding:0px;margin:0px;}

#index .liv2
{width:700px;;border:0px;padding:0px;margin:0px;background-color:#ffffcc;}



#index .liv3
{width:700px;;border:0px;padding:0px;margin:0px;background-color:ffffaa;}



#index th
{border:0px;background-color:#afafaf;text-align:center;color:#ffffff;font-size:12px;text-transform:uppercase;
padding:3px;
}

#index td
{border:0px;font-size:12px;padding:5px;text-align:center;}



#index td.sub{padding:0px;}

#index tr{border:1px dotted;}
#index tr:hover{background-color:#bbccdd;}


#index td.first
{text-align:left;width:300px;}


#index td.first_liv2
{text-align:left;width:315px;}

#index td.first_liv3
{text-align:left;width:315px;}

#index td div.icona_liv2,#index td div.icona_liv3{
border-left:1px #909090 dotted;border-bottom:1px #909090 dotted;display:block;width:9px;height:5px;padding:0px;float:left;
margin-left:3px;
margin-right:3px;
}

#index td div.icona_liv3{
padding-right:10px;
}


#index a.upd,#index a.del,a.new
{padding:3px;display:block;width:100px;text-align:center;font-size:12px;color:#ffffff;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin:2px;}

#index a.upd,#index a.del{width:60px;}


#index a.upd{background-color:#194775;}
#index a.upd:hover{background-color:blue;}

#index a.del{background-color:#bb0033;}
#index a.del:hover{background-color:red;}


a.new{background-color:#303030;}
a.new:hover{background-color:#454545;}



#UPD{width:100%;padding:10px 0 0 0;}
#UPD ul{padding:0;margin:0;}
#UPD li{padding:0;margin:0;float:left;list-style:none;position: relative;}
#UPD li:first-child{}

#UPD .top{margin-bottom:3px;margin-left:5px;}

#UPD .sx{float:left;width:500px;margin-left:5px;}
#UPD .dx{float:left;width:490px;margin-left:0px;}

/*
label.aSide{position:absolute;right:10px;top:10px;bottom:0px;z-index:0;color:#afafaf;}
*/

label.aSide{color:#afafaf;display: block;text-transform: capitalize;padding: 15px 5px 5px 0px;}

label.green{color:#339933;}


#Featureds label.aSide{
    padding: 2px;
}


#Featureds .loading_icon{
background-image: url('_img/loading-icon.gif');height: 50px;width: 50px;
position: absolute;
}
#UPD .dx1{float:left;width:240px;}
#UPD .dx2{float:left;width:240px;margin-left:10px;}




#UPD li .txt{
display:block;
font-size:10px;color:#afafaf;
padding-top:2px;
padding-right:5px;
text-align:right;
}

#UPD li.editor,#NEW li.editor{
background-color:#efefef;
border:1px #afafaf solid;

}

#UPD li.editor:hover{background-color:#ffffff;}

#UPD li.range, #UPD li.images,
#NEW li.range, #NEW li.images,
#new li.range, #new li.images{
    clear: both;
    margin:33px 0 0 0;
}

#UPD li.manytomany,#NEW li.manytomany,#new li.manytomany{
    margin:33px 0 0 10px;
}





#UPD li.select_top{
margin-right:3px;
}
#UPD li.checkbox_top{
background-color:#efefef;
border:1px #afafaf solid;
-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
padding:6px;
font-size:14px;
margin-right:3px;
}
#UPD li.checkbox_top:hover{
    background-color:#ffffff;
}
#UPD li.checkbox_top label{
    cursor:pointer;
}



#UPD li.optional select{
width:155px;
padding-left:40px;
background-position:0px 0px;
background-repeat:no-repeat;
height:31px;
}






#new,#upd {margin-top:0px;font-size:11px;}
#new input,#upd input,#bulkMenu input
{
padding:6px;
border:1px #afafaf solid;

background-color:#efefef;
outline: none;
margin:0px;
}

#new input[type=file],#upd input[type=file],#bulkMenu input[type=file],
#new input[type=file]:hover,#upd input[type=file]:hover,#bulkMenu input[type=file]:hover
{
background:none;
border:0px;
}

#new select,#upd select,#bulkMenu select{
padding:5px;
height:27px;
border:1px #afafaf solid;
border-radius: 0px;
background-color:#efefef;
outline: none;
margin:0px;

background-repeat:no-repeat;
background-position:165 3;
}

#new input:hover,#upd input:hover,#bulkMenu input:hover,
#new input:focus,#upd input:focus,#bulkMenu input:focus,
#new select:hover,#upd select:hover,#bulkMenu select:hover,
#new select:focus,#upd select:focus,#bulkMenu select:focus
{background-color:#ffffff;}




#new .txtEditor,#upd .txtEditor{margin-bottom:30px;}

#new .save,#upd .save{
background-color:green;
color:#ffffff;
padding:15px;cursor:pointer;text-transform:uppercase;font-weight:bold;
margin:10px;
border-radius: 5px;
}

#new .long,#upd .long{width:980px;}

#new .save:hover,#new .save:focus,
#upd .save:hover,#upd .save:focus{background-color:#339933;}

#new .sx input,#upd .sx input
{width:490px;padding-right:65px;}
#new .dx input,#upd .dx input
{width:490px;}

#new .dx input[type=checkbox],#upd .dx input[type=checkbox]
{width:20px;}

#new .dx1 input,#upd .dx1 input{width:240px;padding-right:65px;}
#new .dx2 input,#upd .dx2 input{width:240px;padding-right:65px;}

#ToolTip{border:0px;}



#UPD li.err{color:red;}
#UPD li.err input{border:1px red solid;}
#UPD li.err select{border:1px red solid;}
#UPD li.err label{color:red;}





#pagination{background-color:#efefef;padding:5px;color:#000000;}

#pagination ul{float:left;}
#pagination .info{font-size:15px;float:left;margin-left:5px;}

#pagination .prev{}
#pagination .next{}
#UPD ul{padding:0;margin:0;}
#UPD li{padding:0;margin:0;float:left;list-style:none;position: relative;}

#pagination ul{padding:0;margin:0;}
#pagination li{padding:0;margin:0;float:left;list-style:none;position: relative;}

#pagination li a{
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
padding-left:3px;
padding-right:3px;
margin:1px;
font-size:15px;
display:block;background-color:#194775;    
color:#ffffff;font-weight:bold;text-decoration:none;
}

#pagination li a:hover{background-color:blue;}
#pagination li.sel a{color:#194775;background-color:#ffffff;}
#pagination li.tit{text-transform:uppercase;font-weight:bold;color:#000000;}


#bulkMenu{
/*-index:999; position:absolute;left:40%;top:30%; margin-top:0px;*/
background-color:#efefef;
margin:5px 5px 5px 9px;
padding:5px 0px 9px 5px;
}

#bulkMenu ul{padding:0;margin:0;}
#bulkMenu li{padding:0;margin:0 1px 0 0;float:left;list-style:none;position: relative;}
#bulkMenu li:first-child{}

#bulkMenu li.tit{font-size:16px;}
#bulkMenu li.txt,#bulkMenu li.tit{
font-size:12px;
padding:5px 5px 6px 2px;
background-color:#efefef;
border:1px #afafaf solid;
-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
}
#bulkMenu li.txt:hover{background-color:#ffffff;}

#bulkMenu .save{background-color:#194775;color:#ffffff;padding:5px;margin-left:3px;cursor:pointer;}
#bulkMenu .save:hover,#bulkMenu .save:focus{background-color:blue;color:#ffffff;}


#bulkMenu_tool{padding:5px;background-color:#ffffcc;}
#bulkMenu_tool a{
margin-left:3px;    
font-size:11px;display:block;float:left;padding:3px;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
background-color:#194775;color:#ffffff;
}
#bulkMenu_tool a:hover{background-color:blue;color:#ffffff;}


a.del{
background-color:#c70000;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
color:#ffffff;
display:block;
font-size:12px;
padding:5px;
text-align:center;
width:90px;
}
a.del:hover{background-color:#ff0000;}


#FILTERS{
padding:6px;color:#000000;font-size:12px;background-color:#ffffff;}
#FILTERS input{margin:0px;padding:0px;font-size:12px;border:1px #afafaf solid;padding:3px;
background-color:#dfdfdf;

outline:none;
}
#FILTERS select{
    margin:0px;padding:0px;font-size:12px;border:1px #afafaf solid;padding:2px;
    outline:none;
    box-shadow: 0 3px 0 #fff;
}
#FILTERS input:hover,#FILTERS input:focus,
#FILTERS select:hover,#FILTERS select:focus
{background-color:#ffffff;}

#FILTERS form{float:left;padding-right:3px;}




#tableProdotti a.read,
#tableProdotti a.del,
#tableProdotti a.upd,
a.back{
background-color:#303030;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
color:#ffffff;
display:block;
font-size:12px;
padding:5px;
text-align:center;
width:50px;
}
#tableProdotti a.read{background-color:#669900;}
#tableProdotti a.del{background-color:#c70000;}
#tableProdotti a.upd{background-color:#303030;}
#tableProdotti a.read:hover{background-color:#66CC00;}
#tableProdotti a.del:hover{background-color:#ff0000;}
#tableProdotti a.upd:hover{background-color:#454545;}

a.back{background-color:#339933;width:100px;float:left;margin:0 10px 0 3px;padding:3px;}
a.back:hover{background-color:#33cc33;}




#it{display:none;}
#sp{display:none;}
#es{display:none;}


#alert_body_msg{
margin:0 auto;
background-color:#ffffcc;
background-image:url('_img/alert_body_msg.png');
background-repeat:no-repeat;
background-position:left center;
width:430px;
height:250px;
padding:21px 21px 21px 270px;
font-size:21px;
}


li.lang img{border-bottom:5px green solid;margin:5px;padding:0 0 3px 0;}
li.lang img.missing{border-bottom:5px red solid;}
li.lang img:hover{border-bottom:5px blue solid;}


/*autocomplete style*/
.ui-autocomplete { position: absolute; cursor: default; }
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
        list-style:none;
        padding: 2px;
        margin: 0;
        display:block;
        float: left;
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        background-color:#ffffff;
        margin:0;
        padding: 0;
        zoom: 1;
        float: left;
        clear: left;
        width: 100%;
        
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        margin:2px;
        font-size:12px;
        padding:3px;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
background-color:#afafaf;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
}




#invio_icu{
display:none;
height:100%;
width:100%;
overflow:hidden;
z-index:999998;
position:absolute;
top:0;left:0;
background-color:ffffff;
filter:alpha(opacity=90);opacity:0.9;
cursor:pointer;
}
#invio_icu_form{
display:none;
position:absolute;
z-index:999999;

width: 450px;
height:300px;
left:50%;
margin:90px 0 0 -225px;
background-color:ffffcc;
border:3px #194775 solid;
-moz-box-shadow: 0px 0px 21px #505050;
-webkit-box-shadow: 0px 0px 21px #505050;
box-shadow: 0px 0px 21px #505050;
border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;
}
#invio_icu_form_loading,#icu_ok{
display:none;
}

#invio_icu_form_loading{
background-image:url('_img/loading.gif');
background-repeat:no-repeat;
background-position:center center;
height:270px;
text-align:center;
padding:90px 0 0 0;
}





#home{
text-align:left;background-color:#ffffff;
color:#000000;
}

#home .head_sx{float:left;width:137px;height:140px;
background-image:url('_img/logo.png');
background-position:left center;
background-repeat:no-repeat;
display:block;
}
#home .head_dx{text-align:left;float:left;width:700px;padding:50px 21px 21px 50px;font-size:29px;}

#home .main{padding:21px;}

#home .box h2{
padding:0px;margin:0 0 5px 0;font-size:15px;font-weight:normal;
background-color:#afafaf;padding:0px;
border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
font-style:italic;/*color:#000000;*/color:#000000;font-weight:bold;
}
#home .box {
float:left;width:241px;
/*background-color:#afafaf;*/
background-color:#dfdfdf;
margin:0 9px 0 1px;
border:1px solid #909090;padding:5px;font-size:11px;
border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
}
#home .box:hover{border:1px #7f0102 solid;}
#home .one:hover{border:1px #green solid;}


#home .box ul{padding:0;margin:0;}
#home .box li{padding:0;margin:0 0 0 0;list-style:none;}
#home .box li a{color:#000000;display:block;padding:4px;margin:1px;background-color:#ffffff;
border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;margin:5px 0 3px 0;
}
#home .box li a:hover{color:#7f0102;
background-image:url('_img/sfuma-orange.png');
background-position:0 21px;
background-repeat:repeat-x;

}
#home .box li a i{display:block;font-size:9px;color:#909090;}



.norecordfound{
    text-align: center;
    padding: 9px;
    background-image: url('_img/norecord-alpha.png');
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 230px;
    
}

#tableProdotti a.del,
#tableProdotti a.del-disabled,
#tableProdotti a.upd,
a.new,
.search input[type="submit"],
.btn{
    background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
background-image: linear-gradient(top, #fefefe, #dcdcdc);
display: inline-block;min-width: 150px;
text-align: center;padding:5px;
color: #333;
border: 1px solid #bbb;
border-radius: 4px;
text-decoration: none;
text-shadow: #fff 0px 1px 0px;
min-width: 0;
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
-webkit-user-select: none;
display: block;
cursor: pointer;
margin: 3px 3px 5px 3px;
font-size:14px;
min-width: 60px;
}

.blue{color:blue;}
#tableProdotti a.del:hover,
#tableProdotti a.del-disabled,
#tableProdotti a.upd:hover,
a.new:hover,
.search input[type="submit"]:hover,
.btn:hover,

#tableProdotti a.del.sel,
#tableProdotti a.upd.sel,
a.new.sel,
.search input[type="submit"].sel,
.btn.sel
{
background: #ededed;
border-color: #acacac;
text-decoration: none;
}

#tableProdotti a.del.sel,
#tableProdotti a.upd.sel,
a.new.sel,
.search input[type="submit"].sel,
.btn.sel{
    text-decoration: underline;
}

#tableProdotti a.del-disabled{background: #bfbfbf;}


.section{
    /* border:1px #afafaf solid; */
    border-bottom:3px #efefef dashed;
    padding: 9px;
    margin:0 0 21px 0 ;
}

.section b.tit{
    padding:5px 5px 5px 0px; font-size:18px !important;
    color:#909090;display: block;
    
    font-family: 'Roboto', arial, sans-serif;
    font-style:italic;
    font-weight: 100;
    
}



.Element{
    /* border:1px #afafaf solid; */
    border-bottom:3px #efefef dashed;
    padding: 9px;
    margin:0 0 21px 0 ;
}


#FILTERS a.new{margin-top:0px;}
.search {margin: 0 10px 0 0;}
.search input{height: 30px;}
.search input[type="submit"]{
    display: inline-block;
}


a.MM_showAll, a.MM_hideAll{
    display: inline-block;
    border-radius: 5px;
    border:1px #303030;
    background-color: green;
    color:#ffffff;
    text-decoration: none;
    margin: 9px 3px 3px 3px;
    padding:3px ;
}
a.MM_showAll span, a.MM_hideAll span{
    display: inline-block;
    border-radius: 55px;
    background-color: #ffffff;
    font-weight: bold;
    min-width: 15px;
    text-align: center;
    color: green;
}
a.MM_showAll:hover, a.MM_hideAll:hover{background-color: #339933;}


.date{border:1px solid #afafaf;padding: 3px;background-color: #ffffff;border-radius: 5px;}
.date span.mm{display: block;font-size:10px;text-align: center;}
.date span.dd{display: block;font-size:12px;text-align: center;}
.date span.yy{display: block;font-size:10px;text-align: center;}
.date span.hh{display: block;font-size:9px;text-align: center;}


#imgContenuti{position: relative;min-height: 400px;}
#imgContenuti img{z-index: 9;position: absolute;top:0;left:0;}
#imgContenuti .cArea,
#imgContenuti .cCat,
#imgContenuti .cEle,
#imgContenuti .cAreaTop,
#imgContenuti .cCatTop,
#imgContenuti .cEleTop
{
    display: block;
    text-decoration: none;
    position: absolute;
    width: 253px;
    height: 80px;
    z-index: 99999;
    bottom:16px;
}


#imgContenuti .cAreaTop{top:10px;left:6px;}
#imgContenuti .cCatTop{top:108px;left:198px;width: 250px;}
#imgContenuti .cEleTop{bottom:128px;left:503px;width: 253px;}

#imgContenuti .cArea{left:2px;}
#imgContenuti .cCat{left:265px;width: 250px;}
#imgContenuti .cEle{left:525px;width: 253px;}



